
<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<section>
	<div class="container text-center">	
	  <header class="header" id="home_section">

        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-12 text-center ">
                    <h1 class="my-5">Welcome User!</h1>
                    <h3>Smart Contact Manager</h3>
                    <p class="animate">
                       A smart contact manager is a tool designed to efficiently organize and manage 
                       contact information. It goes beyond traditional contact
                        management by incorporating intelligent features and automation to enhance productivity.
                    </p>
                  
                </div>
            </div>
        </div>
        
        <div class="message py-5">
        <div class="container text-center">
            <h1>Why Smart Contact Manager use ?</h1>
            <p> <span class="font-weight-bold bg-black">Automation:</span> Smart contact managers often automate the process of updating and organizing contact information. 
               This can include features like contact 
               deduplication, data syncing, and automatic updates.
            </p>
            <p><span class="font-weight-bold bg-black">Integration:</span>They seamlessly integrate with other productivity tools, calendars, and communication platforms. This ensures that contact information is
             synchronized across various applications, reducing
              manual data entry and saving time.
            </p>
            <p> <span class="font-weight-bold bg-black">AI and Insight:</span>Many smart contact managers leverage artificial intelligence to provide insights into your contacts. This could include social media updates
            , recent interactions, or suggestions on when 
             to reach out based on historical data.
            </p>
            <p> <span class="font-weight-bold bg-black">Customization:</span> Users can often customize fields and data categories 
            to suit their specific needs. This flexibility allows for 
            the adaptation of the contact manager to different industries and personal preferences.
            </p>
            <p> <span class="font-weight-bold bg-black">Search and Retrieval:</span> Advanced search functionalities make it 
            easy to quickly find specific contacts based on criteria such as tags,
             keywords, or custom fields. This is crucial for efficiency,
             especially when dealing with large contact lists.
            </p>
            
        </div>
    </div>

    </header>
	</div>
	<section class="footer bg-primary">
        <div class="container py-3 text-center text-white">
            <p>Copyright © 2024 @Bhushan </p>
        </div>
    </section>
	
   </section>
</body>
</html>
	
	