<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Login Page</title>
</head>
<body>

	<section>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="background: white">
         
        <div class="container text-center my-4">
            
            <div class="alert alert-success" role="alert">
              We have sent OTP to your email..
           </div> 
            
        </div>
      
        <form th:action="@{/change-password}" method="post">
  
        
          <!-- Email input -->
          <div class="form-outline mb-4">
         <label class="form-label" for="form1Example13">Enter New Password</label> 
            <input required type="text" id="form1Example13" class="form-control" name="newpassword" placeholder="Enter new Password here" />
          </div>

        <!-- Submit button -->
         <div class="container text-center  my-3">
           <button type="submit" class="btn bg-primary text-white">Change Password</button>
         </div>
          
        </form>
      </div>
      
    </div>
  </div>
  
</section>
	
</body>
</html>